---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro';
import Profile from '../components/Profile';
---

<Layout title="Links | YounesHarrat">
  <main class="min-h-screen bg-gradient-to-b from-gray-100 to-white py-12 px-4 max-w-4xl mx-auto my-8 rounded-lg shadow-lg">
    <Profile client:load />
  </main>
</Layout>
